**USING SWAPCASE() TO CONVERT UPPER TO LLOWER OR LOWER TO UPPER**

In [2]:
str = input()
print(str.swapcase())

ABCD
abcd

**LOWER TO UPPER OR UPPER TO LOWER IN A STRING**

In [3]:
str=input()
str1=" "
for i in str:
  if i.isupper():
    i = i.lower()
    str1+=i
  else:
    i=i.upper()
    str1+=i
print(str1)

akhilA
 AKHILa

**FIRST AND LAST LETTER IN A STRING SHOULD BE CAPS**

In [4]:
str=input()
str=str[0].upper()+str[1:len(str)-1]+str[len(str)-1].upper()
print(str)

akhila
AkhilA

**IN A SENTENCE WORD START WITH CAPITAL LETTER AND END WITH CAPITAL LETTER**

In [5]:
str=input()
words=str.split()
cap_words=[]
for word in words:
  if len(word)>1:
    cap_words.append(word[0].upper()+word[1:len(word)-1]+word[len(word)-1].upper())
  else:
    cap_words=word.upper()
    cap_words.append(cap_words)
print(" ".join(cap_words))

devara cross 200cr
DevarA CrosS 200cR

**REVERSE A STRING**

In [6]:
str=input()
print(str[::-1])

tihor
rohit

In [8]:
str=input()
str1=""
for i in range(len(str)-1,-1,-1):
  str1+=str[i]
print(str1)

amrahs
sharma

**REVERSE WORDS IN A SENTENCE**

In [10]:
str=input()
words=str.split()
rev_words=words[::-1]
print(" ".join(rev_words))

rohitsharma captain
captain rohitsharma